/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles de la liste des acteurs */
#actorsList {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

#actorsList p {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Styles du formulaire d'ajout d'acteur */
#actorForm {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

/* Styles du bouton "Actualiser" */
#refreshButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
